.header{
    padding: 5rem;
    text-align: center;
}

.header__about{
    color: var(--red);
    font-weight: 600;
}

.header__title{
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin: 2rem 0;
}

.header__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}