:root{
    --main-font: 'Inter', sans-serif;
    --main-color: #667085;
    --gray: #3A404E;
    --dark-gray: #101828;
    --red: #8E2424;
}

body{
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}